@model List<AboutListVM>
@{
    ViewData["Title"] = "GetAboutList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h5 class="card-title">About Us</h5>

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">About us</li>
    </ol>
</nav>


<div class="card">
    <div class="card-body">

        <!-- Table with hoverable rows -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Header</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Header</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.UpdateDate</td>
                        <td>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="About" asp-action="DeleteAbout" asp-route-id="@item.Id">Delete</a> @* data-id="@item.Id" *@
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <!-- End Table with hoverable rows -->

    </div>
</div>

<div class="card">
    <a class="btn btn-primary" asp-area="Admin" asp-controller="About" asp-action="AddAbout">Add</a>
</div>

@foreach (var item in Model)
{
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="@item.FileName" alt="Profile" class="rounded-circle">
                        <div class="social-links mt-2">
                            <a href="@item.SocialMedia.Twitter" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="@item.SocialMedia.Facebook" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="@item.SocialMedia.Instagram" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="@item.SocialMedia.Linkedin" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">

                        <div class="tab-content pt-2">


                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <p class="small fst-italic">@item.Description</p>

                                <h5 class="card-title">Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Header</div>
                                    <div class="col-lg-9 col-md-8">@item.Header</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Clients</div>
                                    <div class="col-lg-9 col-md-8">@item.Clients</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Projects</div>
                                    <div class="col-lg-9 col-md-8">@item.Projects</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Hard Workers</div>
                                    <div class="col-lg-9 col-md-8">@item.HardWorkers</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Hours of Support</div>
                                    <div class="col-lg-9 col-md-8">@item.HoursOfSupport</div>
                                </div>

                                <a class="btn btn-primary" asp-area="Admin" asp-controller="About" asp-action="UpdateAbout" asp-route-id="@item.Id">Edit</a>

                            </div>


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

}

