@model List<ContactListVM>
@{
    ViewData["Title"] = "GetContactList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h5 class="card-title">Contact</h5>

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Contact</li>
    </ol>
</nav>

<div class="card">
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Contact" asp-action="AddContact">Add</a>
</div>

<div class="card">
    <div class="card-body">

        <!-- Table with hoverable rows -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Location</th>
                    <th scope="col">Email</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.UpdateDate</td>
                        @if(item.Map == null || item.Map == string.Empty)
                        {
                            <td>Not assigned</td>
                        }
                        else
                        {
                            <td>@item.Location</td>
                        }
                        <td>@item.Email</td>
                        <td>
                            <a class="btn btn-warning" asp-area="Admin" asp-controller="Contact" asp-action="UpdateContact" asp-route-id="@item.Id">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="Contact" asp-action="DeleteContact" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <!-- End Table with hoverable rows -->

    </div>
</div>

